<ion-view class=" about-us" view-title="设置" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="about-us-content">
    <div class="introduction padding-left padding-right padding-top">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;广东农资联盟有限公司（以下简称：农资联盟）成立于2015年1月，注册资金1000万，是一家利用信息技术手段改造传统农资市场
      格局的农资电商企业。我们坚信让农业增产、农民增收是解决当前我国农村问题的总钥匙，也是公司发展最具潜力和前景的机会。
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;为此，农资联盟定位于以影响农业发展最直接、最迫切、见效最快的农资电商及其服务体系建设为主攻方向，以打造中国农资电商第一平台为战略目标，
        为新农人提供一个低成本、高品质、高效率，既省心又省力的农资直采与服务生态。
      </p>
    </div>
    <div class="nz-info padding">
      <p>联系我们</p>
      <p>网址：http://www.nzlm.cn/</p>
      <p>QQ:221017887765</p>
      <p>加盟热线：0668-3388169</p>
      <p>加盟热线：广东省茂名市双山二路148号西梯3楼</p>
    </div>
  </ion-content>
</ion-view>
