<ion-header-bar align-title="center" class="bar-positive bar-assertive">
  <div class="buttons">
    <a href="#/category/{{cate_id}}" class="button button-icon icon ion-chevron-left"></a>
  </div>
  <div class="goods_basic">
    <a  href="#/goods/basic/{{goodsId}}" class="goods_basic_a ">商品</a>
    <a href="#/goods/detail/{{goodsId}}"  class="goods_basic_a  goods_basic_a_cur">详情</a>
    <a  href="#/goods/evaluate/{{goodsId}}"  class="goods_basic_a">评价</a>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header" style="top:50px;" >
    {{detail}}
</ion-content>
</ion-view>


