<ion-header-bar class="bar-assertive category-header">
    <a href="javascript:history.back(-1)" class="button button-icon icon ion-chevron-left"></a>

    <h1 class="title">忘记密码</h1>
</ion-header-bar>
<ion-view>
    <ion-content>
        <form  id="forgetPasswordFrom"  name="forgetPasswordFrom"  role="form" ng-submit="forgetPassword.registerClick()" novalidate="novalidate" >
            <div class="login_from">
                <div class="ion-person  input_w"></div>
                <input type="tel" required  name="phone" placeholder="请输入您的手机号码" class="input_border" ng-model="forgetFrom.account" ng-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/">
            </div>
          <!--  <p class="error" ng-messages="forgetPasswordFrom.account.$error">
                <b ng-message="required">手机号码不能为空！</b>
                <b ng-message="pattern">手机号码格式不正确！</b>
            </p>-->
            <div class="login_from">
                <div class="ion-android-phone-portrait  input_w"></div>
                <input type="text" name="code"  placeholder="4位验证码" class="code" ng-model="forgetFrom.code">
                <button class="button {{classType}} "  type="button"  ng-click="forgetPassword.verifyCode({{type}})">
                    {{time}}{{registerText}}
                </button>
            </div>
            <div class="login_from">
                <div class="ion-locked  input_w"></div>
                <input type="password" required  name="npasswd" placeholder="请输入密码" class="input_border" ng-model="forgetFrom.npasswd" >
            </div>

            <div class="login_from">
                <div class="ion-locked  input_w"></div>
                <input type="password" required  name="rnpasswd" placeholder="请重复输入密码" class="input_border" ng-keyup="forgetPassword.keyUp()" ng-model="forgetFrom.rnpasswd" >
            </div>

            <div class="main_m">
                <button class="button button-assertive button-block" type="submit" ng-disabled="forgetPasswordFrom.$invalid">
                    提交
                </button>
                <span>申请即视为同意【农资联盟平台服务协议】</span><br/>

               <span class="error"></span>
            </div>
        </form>
        <div class="logo_img">
        </div>
    </ion-content>
</ion-view>
