<ion-view class="funds" view-title="版本信息" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="funds-content" style="background: #eeeeee;">
    <div class="list" style="background: #ffffff;margin-top: 10px;">
      <div class="row">
        <div class="col">当前版本</div>
        <div class="col text-right">v0.02</div>
      </div>
    </div>
  </ion-content>
</ion-view>
