<ion-view class="funds" view-title="资金宝" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="funds-content">
    <div class="list">
      <a class="item item-icon-right" href="#/transfer-others" nav-direction="forward">
        <span><img src="img/ic_zjb_transfer_other.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        转他人
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/transfer-card" nav-direction="forward">
        <span><img src="img/ic_zjb_transfer_card.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        转卡
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="" ng-click="funds_get()"  nav-direction="forward">
        <span><img src="img/ic_zjb_bind_card.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        绑卡
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/deposit" nav-direction="forward">
        <span><img src="img/ic_zjb_transfer_in.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        转入
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/reset-password" nav-direction="forward">
        <span><img src="img/ic_zjb_reset_pwd.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        重置支付密码
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/income-and-expenditure" nav-direction="forward">
        <span><img src="img/ic_zjb_budget.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        收支明细
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/account-info" nav-direction="forward">
        <span><img src="img/ic_zjb_account.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        账户信息
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
