<ion-view class="funds" view-title="订单列表" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="#/tab/center" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="funds-content">
    <div class="list">
      <a class="item item-icon-right" href="#/waiting-pay/state_new">
        <span><img src="img/ic_order_wait_paid.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        待付款
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/waiting-goods/state_pay">
        <span><img src="img/ic_order_wait_receive.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        待收货
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
      <a class="item item-icon-right" href="#/finish-pay/state_success">
        <span><img src="img/ic_order_finish.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        已完成
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
