<ion-view class="funds" view-title="个人信息" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="funds-content">
    <div class="list">
      <a class="item item-icon-right" href="#/user-home" nav-direction="forward">
        <span><img src="img/ic_uhp_house.png" style="width:25px;vertical-align: middle;margin-right: 10px;"> </span>
        我的主页
        <i class="icon ion-ios-arrow-right" style="color:#a7a6a6"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
