<ion-view class="transfer-others" view-title="重置支付密码" >
  <ion-nav-bar class="funds-header">
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a href="javascript:history.back(-1)" class="button button-icon light icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="transfer-others-content">
    <form class="form-container" name="resetFrom" role="form" novalidate="novalidate"  ng-submit="tran_ctrl.resets(resetFrom)">
      <div class="list">
        <div class="item item-input">
          <span class="input-label" style="float:left">手机验证码</span>
          <input type="text" name="codes"  class="code"   ng-model="reset.codes" ng-required="true" >
          <button type="button" class="{{tran_ctrl.classType}} bound-card-code" style="float: left" ng-click="tran_ctrl.codes({{typeCode}})">{{tran_ctrl.time}}{{tran_ctrl.registerText}}</button>
        </div>
        <p class="error" ng-messages="resetFrom.codes.$error"><b ng-message="required">手机验证码！</b></p>
        <label class="item item-input">
          <span class="input-label">支付密码</span>
          <input type="password" name="password" ng-model="reset.password" required>
        </label>
        <p class="error" ng-messages="resetFrom.password.$error"><b ng-message="required">支付密码不能为空！</b></p>
        <label class="item item-input">
          <span class="input-label">确认支付密码</span>
          <input type="password" name="passwords" ng-model="reset.passwords"  ng-required="true">
        </label>
        <p class="error" ng-messages="resetFrom.passwords.$error"><b ng-message="required">确认密码不能为空！</b></p>
      </div>
      <button class="button button-full transfer-others-button" type="submit" ng-disabled="resetFrom.$invalid">
        确认
      </button>
    </form>
  </ion-content>
</ion-view>
